---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import { getReadingTime } from "@lib/utils";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<PageLayout title={post.data.title} description={post.data.description}>
  <div slot="title-content">
    <div class="text-meta flex items-center gap-x-1.5 uppercase" style="font-variant: small-caps;">
      <span>{post.data.date.toLocaleDateString('en-GB', { day: '2-digit', month: 'short', year: 'numeric' }).toUpperCase().replace(/\./g, '')}</span>
      <span>&bull;</span>
      <span>{getReadingTime(post.body)}</span>
    </div>
  </div>
  <article class="prose dark:prose-invert max-w-none">
    <Content />
  </article>
</PageLayout>