---
import type { CollectionEntry } from "astro:content";
import { getReadingTime } from "@lib/utils";

type Props = {
  entry: CollectionEntry<"blog">;
}

const { entry } = Astro.props;
---

<a href={`/${entry.collection}/${entry.slug}`} class="block py-2 group">
  <div class="text-content-title group-hover:text-action-hover dark:group-hover:text-white transition-colors duration-300">
    {entry.data.title}
  </div>
  {entry.data.date && (
    <div class="text-meta flex items-center gap-x-1.5 uppercase" style="font-variant: small-caps;">
      <span>{entry.data.date.toLocaleDateString('en-GB', { day: '2-digit', month: 'short', year: 'numeric' }).toUpperCase().replace(/\./g, '')}</span>
      <span>&bull;</span>
      <span>{getReadingTime(entry.body)}</span>
    </div>
  )}
</a>
