---
import { SITE } from "@consts";
---

<footer class="animate">
  <div class="max-w-4xl mx-auto px-4">
    <div class="flex justify-between items-center">
      <div class="font-normal text-sm">
        &copy; 2024 {`|`} {SITE.NAME}
      </div>
    </div>
  </div>
</footer>
