---
import { cn } from "@lib/utils";

type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
  class?: string;
}

const { href, external, underline = true, class: className, ...rest } = Astro.props;
---

<a 
  href={href} 
  target={ external ? "_blank" : "_self" } 
  class={cn(
    "inline-block text-action hover:text-action-hover dark:text-primary-50 dark:hover:text-white transition-colors duration-300",
    underline && "underline underline-offset-2 decoration-primary-10 dark:decoration-primary-10 hover:decoration-primary-25 dark:hover:decoration-primary-25",
    className
  )}
  {...rest}
>
  <slot/>
</a>
